<section class="about">
  <h2>About Me</h2>
  <div class="about-grid">
    <div class="about-card">
      <h3>Education</h3>
      <p>Currently studying Computer Science & Engineering with a specialization in Computer Graphics & Game Design at The Ohio State University. I'm in my second year of school, and I'm expecting to graduate in Spring 2028. Apart from my studies, I'm also a member of The Best Damn Band in the Land where I play trombone, and help to continue the university's tradition of musical and marching excellence.</p>
    </div>
    <div class="about-card">
      <h3>Skills</h3>
      <p>I'm proficient in C#, C, Java, JavaScript, HTML, and CSS. C# is my personal favorite of the languages I've learned. I've also taken classes using Matlab and Assembly. Some of my most used tools lately are MonoGame and Unity for game development, and Astro and React for web-based projects.</p>
    </div>
    <div class="about-card">
      <h3>Interests</h3>
      <p>I like creating unique and engaging experiences. I enjoy finding the perfect balance between functionality and ease of use. I like to design with one primary focus at the center of everything, while still paying attention to the details. Above all else, I live to create new and meaningful experiences for others.</p>
    </div>
</section>
