<section class="hero">
  <div class="hero-inner">
    <div class="hero-text">
      <h1>Sam Harper</h1>
      <p class="hero-subtitle">
        Programming • Game Dev • Creativity
      </p>
    </div>

    <div class="hero-image">
      <img src={`${import.meta.env.BASE_URL}images/sam-profile-large.png`} alt="Photo of Sam Harper"/>
  </div>
</section>
